
.menu-bars{
    position: relative;
    top:6px;
	font-size: 1.5rem;
	color: white;
	background: none;
}
.cross{
    color: white;
	margin-left: 14.5rem;
}
.slide{
	color: white;
}
.nav-menu{
	background-color: rgb(90, 87, 87);
	width: 300px;
	overflow: scroll;
	height: 100vh;
	position: fixed;
	top:0;
	left: -100%;
	transition: 850ms; 
} 
.nav-menu.active{
	left:0;
	transition: 350ms;
}
.navbar-toggle{
	background-color: rgb(90, 87, 87);
	height: 80px;
	display: flex;
	justify-content: start;
	align-items: center;
}
span{
	margin-left: 16px;
}
.icons {
	margin-top: -20px;
	margin-left: 350px;
}
.top-header{
	padding: 15px;
	color: white;
    text-align: left;
	padding-bottom: 35px;
}
.border{
	border-bottom: 2px solid black;
	width: 360px;
	border-bottom-color: #787878;
	margin-bottom: 20px;
}
.bottom-header{
	padding: 15px;
	color: #787878;
}
.footer1 p{
    color: rgb(109, 107, 107);
	padding-top: 4px;
	padding: 15px;
}
.nav-text{
    flex-direction: column;
	justify-content: start;
	align-items: center;
	list-style: none;
	height: 60px;
}
.nav-text li{
	text-decoration: none;
	color: black;
	font-size: 18px;
	width: 95%;
	height: 100%;
	align-items: center;
	padding-top: 12px;
	border-radius: 4px;
}
.arrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}